@mixin clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

@mixin wrap {
	width: 1170px;
	margin: 0 auto;
}

//header 
@mixin header-nav {
	font-size: 12px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}