.about-me {
	width: 580px;
	background: #141414;
	padding: 40px 44px;
	height: 440px;
	border-radius: 4px;
	opacity: 0;
	transform: scale(.9);
	transition: all ease-out .5s;

	&:hover {
		background-color: lighten(#141414, 3%); 
		color: #fff;
	}
}

.about-me--visible {
	opacity: 1;
	transform: scale(1);
}

.about-me__name {
	font-family: 'Cuprum', sans-serif;
	font-size: 32px;
	color: #fff;
	float: left;
	font-weight: 700;
}

.about-me__spec {
	font-size: 18px;
	line-height: 36px;
	color: $green;
	font-family: 'Cuprum', sans-serif;
	clear: left;
}

.about-me__social {
	float: right;
	line-height: 30px;

	i {
		color: #7d7d7d;

		&:hover {
			color: #fff;
		}
	} 
}

.about-me__text {
	padding: 35px 0;
	font-size: 16px;
	line-height: 24px;
	font-family: 'PT Sans', sans-serif;
	text-transform: none;
	color: darken(#fff, 10%);
	font-weight: 400;
}

.about-me--1 {
	float: left;
}

.about-me--2 {
	float: right;
}

