.features {
	height: 620px;
}

.features__title {
	margin-top: 50px;
	font-size: 60px;
	font-family: 'Ubuntu', sans-serif;
}

.features__list {
	margin-top: 80px;
	font-size: 0px;
	
}

.features__item {
	display: inline-block;
	width: 390px;
	text-align: center;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	padding: 290px 60px 60px;
	line-height: 24px;
	color: #6b6969;
	border-radius: 3px;
	transition: background-color  .2s;

	
}

.features__item--1 {
	background: #000 url('../img/icon__phone.png') no-repeat top center;
	background-position: 50% 60px;
	opacity: 0;
	transform: translateY(-100px) scale(.6);
	transition: all .35s ease-out;


	&:hover {
		background-color: lighten(#000, 2.7%);
	}
}

.features__list .features__item--visible {
	opacity: 1;
	transform: translateY(0px) scale(1);
	&:hover {
		background-color: lighten(#000, 2.7%);
	}
}

.features__item--2 {
	background: #000 url('../img/icon__fast.png') no-repeat top center;
	background-position: 50% 60px;
	opacity: 0;
	transform: translateY(-100px) scale(.6);
	transition: all .35s ease-out .35s;

	&:hover {
		background-color: lighten(#000, 2.7%);
		transition: background-color .5s ease-out;
	}
}

.features__item--3 {
	background: url('../img/icon__cooperation.png') no-repeat center 35px;
	background-position: 50% 90px;
	opacity: 0;
	transform: translateY(-100px) scale(.6);
	transition: all .35s ease-out .7s;

	&:hover {
		background-color: lighten(#000, 2.7%);
	}
}