.footer {
	

	.wrap {
		margin-bottom: 50px;
		padding: 63px 90px;
		background: #141414;
		@include clearfix;
		position: relative;
		border-radius: 2px;
	}
}

.footer__but {
	display: inline-block;
	padding: 12px 45px;
	background: $green;
	border-radius: 3px;
	color: #1b261b;
	font-family: 'Roboto', sans-serif;
	font-size: 16px; 

	&:hover {
		background: linear-gradient($green, darken($green, 20%));
	}
}


.footer__up {
	font-size: 58px;
	color: #6d6b6b;
	position: absolute;
	top: 52px;
	right: 165px;
	transition: all .2s;

	&:hover {
		color: $green;
		transform: scale(1.1);
	}
}

.footer__logo {
	position: absolute;
	left: 50%;
	top: 60px;
	margin-left: -200px;
	width: 400px;
	text-align: center;
	font-size: 47px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;

	i {
		font-size: 22px;
		font-family: 'Roboto', sans-serif;
		margin-left: -5px;
	}
}

.footer__social {
	float: right;
	margin-top: 10px;
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%,30%,50%,70%,90% {transform: translateX(-5px);}
	20%,40%,60%,80% {transform: translateX(5px);}
}

.footer__but--color {
	animation: shake .6s;
}



