.header-content {
	opacity: 1;
	height: 545px;
	margin: 0 auto;
	position: relative;
	overflow-y: hidden;

	& .wrap {
		max-width: 700px;
		padding: 150px  50px 0;
	}
}

.header-content:before {
	position: absolute;
	top: 0px;
	height: 273px;
	width: 100%;
	content: "";
	display: block;
	background: rgba(0,0,0,1);
	transition: all .6s ease-out .6s;
}

.header-content--animated:before {
	background: rgba(0,0,0,.2);
	transform: translateY(-274px); 
	transition: all .6s ease-out .6s;
}

.header-content:after {
	position: absolute;
	bottom: 0px;
	height: 272px;
	width: 100%;
	content: "";
	display: block;
	background: rgba(0,0,0,1);
	transition: all .6s ease-out .6s;
}

.header-content--animated:after {
	background: rgba(0,0,0,.2);
	transform: translateY(273px); 
	transition: all .6s ease-out .6s;
}


.header-content__title{
	opacity: 0;
	margin-left: -5px;
	font-size: 95px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	text-shadow: 0px 0px 70px rgba(0,0,0,0.7);
	display: inline;
	transition: opacity .4s linear 1.2s;

	& i {
		font-family: 'Roboto', sans-serif;
		font-size: 45px;
		font-weight: 400;
		margin-left: -10px;
	}
}

.header-content__title--visible {
	opacity: 1;
}

.header-content__desc {
	opacity: 0;
	font-size: 32px;
	font-family: 'Cuprum', sans-serif;
	font-weight: 400;
	line-height: 90px;
	color: #f1eded;
	transition: opacity .4s linear 1.2s;
}

.header-content__desc--visible {
	opacity: 1;
}

.header-content__link {
	opacity: 0;
	padding-left: 6px;
	font-size: 16px;
	font-family: 'Cuprum', sans-serif;
	transition: opacity .4s linear 1.2s;
}

.header-content__link--visible {
	opacity: 1;
}

.header-content__but {
	opacity: 0;
	transition: opacity .4s linear 1.2s;
}

.header-content__but--visible {
	opacity: 1;
}