.header-bottom {
	min-height: 65px;
	background: rgba(0,0,0,1);
	@include clearfix;
	overflow-x:  hidden;
	transition: all .6s ease-out .6s;
}

.header-bottom--visible {
	background: rgba(0,0,0,.2);
}

.header-bottom__location {
	float: left;
	display: inline;
	line-height: 65px;
	@include header-nav;
	font-size: 12px;
	font-weight: 500;
	opacity: 0;
	transition: all .3s ease-out 1.2s;
	transform: translateX(-100px);

	& i {
		color: $green;
	}
}

.header-bottom__location--visible {
	opacity: 1;
	transform: translateX(0px);
}

.header-bottom__dont {
	float: right;
	display: inline;
	line-height: 65px;
	@include header-nav;
	font-size: 12px;
	font-weight: 500;
	color: $green;
	opacity: 0;
	transition: all .3s ease-out 1.2s;
	transform: translateX(100px);
}

.header-bottom__dont--visible {
	opacity: 1;
	transform: translateX(0px);
}