.header {
	background: url('../img/header__bg.jpg') no-repeat;
	background-size: cover;
	min-height: 675px;
    min-width: 1170px;
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.loading {

	position: absolute;
	top: 300px;
	font-size: 40px;
	left: 50%;
	margin-left: -35px;
	color: $green;
	z-index: 3;

	animation-name: spin;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

	
}

.loading--stop {
	display: none;
}

