.nav {
	@include header-nav;
}

.nav__item {
	float: left;

}

.nav__link {
	padding: 0 18px;
	color: #fff;
	font-size: 12px;

	&:active {
		color: #000;
	}
}
.nav__item:last-child .nav__link {
	padding-right: 0px;
}

.nav__link--active {
	color: $green;

	&:hover {
		color: $green;
	}
}